<p id="notice"><%= notice %></p>

<p>
  <strong>Service area:</strong>
  <%= @service_area.service_area %>
</p>

<%= link_to 'Edit', edit_service_area_path(@service_area) %> |
<%= link_to 'Back', service_areas_path %>
