<h1>Editing Parking Contravention</h1>

<%= render 'form', parking_contravention: @parking_contravention %>

<%= link_to 'Show', @parking_contravention %> |
<%= link_to 'Back', parking_contraventions_path %>
